/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/


#logo {
  height: 7em;
  width: 10em;
}

.footer-text {
  font-family: "Stardos Stencil";
}

.order {
  margin: auto;
  padding:8em;
  height: 46em;
}


.button {
  padding: 3em;
}
#clear-button {
  background-color: #e53935;
}

#total-submit {
  background-color: #e53935;
}

#submit {

  background-color: #e53935;
}

#main{
  font-family: "open Sans";
  padding-bottom: 14em;
  padding-top: 10em;
}


#main h3 {
  font-family: "Stardos Stencil";
}

.icon-block .material-icons {
	font-size: inherit;
}
