/*body {
  position: relative;
  overflow:;
}*/

/*.ajax-loader {
  position: relative;
  display: block;
  padding: 0;
  margin: auto;
}*/

h1 {
   color: white;
   font-family: "Berkshire Swash";
   font-size: 7em;

}
/*footer {
  height: 20em;
}*/

#map{
padding-top: 15em;
padding-bottom: 5em;
}

#logo {
  /*height: 16em;*/

  width:20em;
}

#nav-link {
  font-family: "Open sans";
}
#index-banner {
  background-image: url("../img/butcher-bckgrd.svg");
  background-size: cover;
  height: 550px;

}
#popup {
  font-size: 3em;
  font-family: "Stardos Stencil";
  padding-top: em;
}


#survivalist {
  font-family: "Stardos Stencil";
  color: #e53935;
}
#sodhoff {
  font-family: cursive;
  color: #fdd835;
}
.icon-block p {
  font-family: "Open sans";
}
.icon-block h2 {
  padding-top: em;
  font-family: "Berkshire Swash";

  font-size: 2.5em;
}
.icon-block a {
  color: #fdd835;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
