/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 html {
   font-family: "Open sans";
 }
nav {
  background-color: #fccf40;
}
nav ul a,
nav .brand-logo {
  ;
}

p {
  line-height: 1.5rem;
}

#logo {
  width: 8em;
  height: 4em;
  padding-bottom: 100px;
}
h1 {
  color: #ff9999;
  font-family: "Berkshire Swash";
  font-size: 7em;
}
.material-icons {
  color: white;
}
.sidenav-trigger {
  color: #26a69a;
}

.icon-block h5 {
  color: #fccf40;
  font-family: "Berkshire Swash";
  }

.icon-block p {
  color: #b71c1c;

}
#pig-icon {
  width: 4em;
  height: 2em;

}
#chicken-icon {
  width: 2em;
  height: 2em;
  padding-top:15px;
}
#cow-icon {
  width: 2em;
  height: 2em;
  padding-top:10px;
}


h5 {
  color: #fccf40;
  font-family: "Berkshire Swash";
}
h4 {
  font-family: "Stardos Stencil";
  color: #e53935;
}
#box1 {
  background-color: #fef5e7;
  width: 100%;
  padding: 30px;
}

#box2 {
  background-color: #fef5e7;
  width: 100%;
  padding: 40px;
}
#inner-box2{
  background-color: ;
}
#box3 {
  background-color: #b71c1c;
  width: 100%;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  /*color: rgba(255,255,255,.9);*/
  color: #fccf40;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  background-color: ;
  width: 100%;

}
.icon-block .material-icons {
  font-size: inherit;
  color: white;
}

footer.page-footer {
  background-color: #fccf40;
  margin: 0;
}
